<p>servers works!</p>


<h1>Server was created holds a {{serverWasCreated}} value</h1>

<button [disabled] = "!serverWasCreated" >Add New Server </button>

<p>  {{serverWasCreated}}  </p>

<p [innerHTML] = "serverWasCreated"></p>

<button (click) = "statusChanged()"> Server was not created !!! </button>
<p>{{serverCreationStatus}}</p>


<button (click) = "serverChangedAgain()">Server was created the second time </button>

<br>
<label for=""> Applicant Name</label>
<input type="text" (input) = "getApplicantName($event)">
<p> {{ applicantName }}  </p>


<label for="">Footballer Name</label>
<input type="text" (input)="getFootballerName()">
<h1> {{footballerName}} </h1>
